body{
    background-image: linear-gradient(
        rgb(204,35,38),
        rgb(28,17,22)
    );
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#playlist-tittle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#cover{
    width: 300px;
    height: 300px;
    margin: 2em 0 1em 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#below-cover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em 0;
}

#buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    margin: 0 1em 0 1em;
}

#song-name{
    font-size: 2em;
    font-weight: bold;
}

#band-name{
    font-size: 0.9em;
    color: black;
    font-weight: normal;
}

.button{
    font-size: 1rem;
}

.button-navegati{
    font-size: 2rem;
}

.button-biggest{
    font-size: 3rem;
}

.progress-Container{
    padding: 2em 0 0 0 0;
    width: 80%;
}

#progress-bar{
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 50%;
}

#currest-progress{
    background-color: rgba(0, 0, 0, 0.2);
    height: 4px;
    width: inherit;
    border-radius: inherit;
    cursor: pointer;
}